In [1]:
!pip install -q catboost scikit-learn

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np
import catboost as cb
from sklearn.preprocessing import OneHotEncoder

Скачайте [датасет](https://archive.ics.uci.edu/dataset/2/adult) из Gitlab.

Добавьте файлы в MLCore, дайте названия колонкам и прочитайте файлы:

In [3]:
colnames = ['age','wc','fnlwgt','ed','ednum','ms','occ','rel','race','sex','cgain','closs','hpw','nc','label']
train_set = pd.read_csv("adult.data",header=None,names=colnames,na_values='?')
test_set = pd.read_csv("adult.test",header=None,names=colnames,na_values='?',skiprows=[0])

In [4]:
train_set.head()

,age,wc,fnlwgt,ed,ednum,ms,occ,rel,race,sex,cgain,closs,hpw,nc,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Задайте категориальные переменные:

In [5]:
category_cols = ['wc','ed','ms','occ','rel','race','sex','nc','label']
cat_dims = [train_set.columns.get_loc(i) for i in category_cols[:-1]] #индексы категориальных фичей

Разделите датасет на таргет и обучающие переменные:

In [6]:
y_train = train_set['label']
X_train = train_set.drop('label', axis=1)
y_test = test_set['label']
X_test = test_set.drop('label', axis=1)

**Попробуйте изученные в модуле модели для классификации чтобы получить accuracy выше 0,86.**

Не забывайте предобрабатывать данные (например, стандартизировть) там, где это необходимо.

Для большинства моделей вам так же потребуется OneHotEncoding для того, чтобы привести категориальные данные к буллиевым:

In [7]:
enc = OneHotEncoder()

In [8]:
for cat in category_cols[:-1]:
    enc.fit(X_train[cat].values.reshape(-1, 1))
    one_hot_train = pd.DataFrame(enc.transform(X_train[cat].values.reshape(-1, 1)).todense())
    one_hot_test = pd.DataFrame(enc.transform(X_test[cat].values.reshape(-1, 1)).todense())
    X_train = pd.concat([X_train, one_hot_train], axis=1).drop([cat], axis=1)
    X_test = pd.concat([X_test, one_hot_test], axis=1).drop([cat], axis=1)

Удачи!